
  <div class="container friends__wrapper">
  <h1 id="headerInfo"></h1>



  <section class="headerFr">
    <div class='headerFr__left'>
      <section>Выбрите друзей</section>
      <div id="search1">
        <input type="text" placeholder="Начните вводить имя друга">
      </div>
      <h3>Ваши друзья</h3>
    </div>
    <div class='headerFr__right'>
      <section>Выбрите друзей</section>
      <div id="search2">
        <input type="text" placeholder="Начните вводить имя друга">
      </div>
      <h3>Друзья в списке</h3>
    </div>
  </section>

  <section class="section">
    <div id="friends">
    </div>
    <div id="friends__right">
    </div>
  </section>

  <section class="footerFr">
    <button id='saveFrList'>Сохранить</button>
  </section>


</div>
